################################################################################
# Commands
################################################################################

# git rm --cached -r * - Recursively clear cache.

################################################################################
# File Types
################################################################################
*.dtbcache
*.dll
*.pdb
*.jfm
*.pdb
*.user
*.dbmdl

################################################################################
# Folders
################################################################################
bin
obj
node_modules
wwwroot
.vs

################################################################################
# Specific Files
################################################################################